<div class="row bg-light">
  <div class="col-8 offset-md-2">
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <div>
      <div class="col-8 offset-md-2 border border-gray p-2 text-align-center">
        <div class="d-flex">
          <label for="yourEmail" class="form-label p-4"><b>Your E-Mail</b></label>
          <input type="text" class="form-control mb-4" id="yourEmail" placeholder="Your E-Mail">
        </div>
        <div class="d-flex">
          <label for="messageBox" class="form-label"><b>Your message</b></label>
          <textarea class="form-control" id="messageBox" placeholder="Your message here..."></textarea>
        </div>
        <div class="d-flex justify-content-end p-4">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>