<div class="container p-6 mb-4 bg-light">
    <div class="row">
        <div class="col-10">
            <h2>Portfolio</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://imgs.search.brave.com/989ZS6JVLhzLZwsiftPGlRsa24qeW4UNKUGPR2-_t9M/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9jb2xvcmZ1bC1i/YWNrZ3JvdW5kLXdp/dGgtY29sb3JmdWwt/YmFja2dyb3VuZF84/NzU3NTUtOS5qcGc_/c2l6ZT02MjYmZXh0/PWpwZw"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut
                        aliquip
                        ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card" style="width: 18rem;">
                <img src="https://imgs.search.brave.com/989ZS6JVLhzLZwsiftPGlRsa24qeW4UNKUGPR2-_t9M/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9jb2xvcmZ1bC1i/YWNrZ3JvdW5kLXdp/dGgtY29sb3JmdWwt/YmFja2dyb3VuZF84/NzU3NTUtOS5qcGc_/c2l6ZT02MjYmZXh0/PWpwZw"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut
                        aliquip
                        ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card" style="width: 18rem;">
                <img src="https://imgs.search.brave.com/989ZS6JVLhzLZwsiftPGlRsa24qeW4UNKUGPR2-_t9M/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9jb2xvcmZ1bC1i/YWNrZ3JvdW5kLXdp/dGgtY29sb3JmdWwt/YmFja2dyb3VuZF84/NzU3NTUtOS5qcGc_/c2l6ZT02MjYmZXh0/PWpwZw"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut
                        aliquip
                        ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</div>